body{
    margin: 0 auto;
    font-family: 'Lora';
    width: 1440px;
    height: 827px;
}
.container{
    margin: 55px 160px;
    width: 1120px;
    height: 717px;
}
.introduction{
    width: 100%;
}
.introduction__title{
    text-transform: uppercase;
    margin-bottom: 13px;
    font-family: 'Lora';
    letter-spacing: 1.08px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    margin: 0 auto ;
    display: inline;
   
}

.introduction__logo{
    width: 22.29px;
    height: 22.679px;
    margin-bottom: 65.3px;

}

.logo:before ,
.logo:after{
    position: relative;
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: 120px;
    height: 2px;
    background: #EC5598;
}
.logo:before{
    margin-left: 425px;
} 


.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 65px;
    
}

.service-wrapper{
    justify-content: center;
    position: relative;
}

.image{

    width: 330px;
    height: 400px;
    
}

.image-text{
    line-height: 22px;
    position: absolute;
    top: 298px;
    right: -1px;
    width: 300px;
    height: 145px;
    background-color: #fff;
    box-shadow: 25px 25px 50px 0px rgb(230 230 230);
    
}


.image-text h2 {
    margin: 0;
    padding: 20px 0 0 15px;

    font-size: 20px;
    font-weight: bold;

    
  
   
}

.image-text p {
    width: 218px;
    padding-left: 15px;

    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
}


.image-text a{
    
    text-decoration: none;
    color: #EC5598;;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lato';
}
.image-text a::before{
    margin-left: 153px;
    margin-right: 5px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 46px;
    height: 1.5px;
    background: #EC5598;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
}

.btn{
    margin-top: 108px;

    width: 240px;
    height: 60px;
    color: #FF427F;
    background: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.08px;
    text-transform: uppercase;
    border-radius: 2px;
    border: 1.5px solid #FF427F;
    cursor: pointer;
}

@media (max-width: 360px) {

    body{
        width: 100%;
        height: 1604px;
        overflow-x: hidden;
        box-sizing: border-box;
    }
    .container{
        width: 100%;
        margin-left: 15px;
    }
    .introduction{
        width: 330px;
    }
    .introduction__title{
        margin: 0 auto;
        height: 48px;
        width: 215px;
        font-size: 28px;
        letter-spacing: 0.84px;
    }

    .services{

        flex-direction: column;
    }

    .service-wrapper{
        display: flex;
        margin-bottom: 50px;
        flex-direction: column;
    }

    .service-wrapper:last-child{
        margin-bottom: 40px;
    }

    .image-text{
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        right: 61px;
        
    }

    .image-text h2{
        font-size: 20px;
    }

    .image-text a{
        letter-spacing: -0.16px;
    }

    .image-text p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
    .btn-wrapper{
        display: block;
        width: 360px;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    .btn{
        margin: 0 60px 15px 45px;
        width: 240px;
        height: 60px;
        
    }

    .logo:before{
        margin-left: 63px;
    } 
    .introduction__logo{
        margin-bottom: 40.32px;
    }
    .logo:before ,
    .logo:after {
        width: 86px;
    }
}
